<div id="home">
   <section id="section-1">
      {{part-carousel}}
      {{#link-to "root.product" class="btn btn-danger"}}
      产品列表
      <i class="fa fa-angle-double-right"></i>
      {{/link-to}}
   </section>
   <section id="section-2">
      <h4>生产中心</h4>
      <ul class="list-unstyled col-md-4">
         {{#each productListCol1 as |product|}}
         <li class="card-block">
            <img src="{{product.img}}" class="img-circle card-img-left pull-left">
            <div class="text pull-right">
               <h6>
               {{product.name}}
               <span class="label label-warning">修</span>
               <span class="label label-info">售</span>
               </h6>
               <small class="text-muted">{{product.description}}</small>
            </div>
            <div class="clearfix"></div>
         </li>
         {{/each}}
      </ul>
      <ul class="list-unstyled col-md-4">
         {{#each productListCol2 as |product|}}
         <li class="card-block">
            <img src="{{product.img}}" class="img-circle card-img-left pull-left">
            <div class="text pull-right">
               <h6>
                  {{product.name}}
                  <span class="label label-info">售</span>
               </h6>
               <small class="text-muted">{{product.description}}</small>
            </div>
            <div class="clearfix"></div>
         </li>
         {{/each}}
      </ul>
      <ul class="list-unstyled col-md-4">
         {{#each productListCol3 as |product|}}
         <li class="card-block">
            <img src="{{product.img}}" class="img-circle card-img-left pull-left">
            <div class="text pull-right">
               <h6>
                  {{product.name}}
                  <span class="label label-info">售</span>
               </h6>
               <small class="text-muted">{{product.description}}</small>
            </div>
            <div class="clearfix"></div>
         </li>
         {{/each}}
      </ul>
      <div class="clearfix"></div>
   </section>
   <section id="section-3">
      <h4>客户企业</h4>
      <div id="intro" class="label label-info m-b p-a-s">我们服务于天津市二十多家大型企业</div>
      <div id="client-map">
         {{#part-client-map clientList=clientList}}{{/part-client-map}}
      </div>
   </section>
   <section id="section-4">
      <div class="col-md-6" id="contact">
         <h4 class="underlined">联系我们</h4>
         <div class="col-md-6">
            <h6>
            {{#link-to "root.contact"}}
            天津市金凯达成消防设备有限公司
            <i class="fa fa-angle-double-right"></i>
            {{/link-to}}
            </h6>
            <small>红桥区芥园道明华里1号楼3门102号底商</small>
            <a href="/images/certificate.jpg" target="_blank">
               <img class="full" src="/images/certificate.jpg">
            </a>
         </div>
         <div class="col-md-6">
            <div><strong>联系人:</strong> 李经理</div>
            <div><strong>电话:</strong> 13821777119</div>
            <div><strong>邮箱:</strong>
               <a href="mailto:13802123455@163.com">13802123455@163.com</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <h4 class="underlined">常见问题</h4>
         <ul>
            {{#each QAList as |qa|}}
            <li>
               <a>{{qa.q.title}}</a>
            </li>
            {{/each}}
         </ul>
      </div>
      <div class="clearfix"></div>
   </section>
</div>